/* Reset some basic elements */
body,
h1,
h2,
p,
a {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Basic styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    color: #333;
}

/* Centering the content in the viewport */
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    /* Full viewport height */
    text-align: center;
}

/* Content styling */
.content {
    padding-top: 10vh;
    padding-bottom: 10vh;
    /* Added bottom padding */
}

h1 {
    font-size: 4rem;
    margin-bottom: 5rem;
}

h2 {
    font-size: 2rem;
    margin: 13px 0;
}

p {
    font-size: 1rem;
    margin-bottom: 40px;
}

a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    text-decoration: underline;
}

/* Footer styling */
footer {
    background: #f0f0f0;
    padding: 10px;
    font-size: 0.8rem;
}


/* Centering the content in the viewport */
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    /* Ensure the container fits the content */
    min-height: 100vh;
    /* Minimum height to fill the screen */
    text-align: center;
    border: 1px solid #ccc;
    /* A light grey border */
    margin: 0 10px;
    /* Adds some space on the sides */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Optional: Adds subtle shadow for depth */
}

/* Content styling */
.content {
    padding: 16px;
    /* Add padding all around the content */
}

/* Responsive design for smaller screens */
@media only screen and (max-width: 600px) {
    .container {
        padding-bottom: 50px;
        /* Add padding to lift the content above the browser's bottom bar */
    }

    .content {
        padding: 16px;
        /* Sufficient padding to prevent text from touching the borders */
    }

    /* ... other styles ... */
}